.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #96c9f1;
}

footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.App {
  text-align: center;
}
.App-header {
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.google_button{
  background-color: black;
  padding:10px;
  border-radius: .5rem;
  color:white;
  border:none;
  margin-bottom: 20px;
  margin-top: 20px;
}

.google_button:hover{
  border:2px solid white;
}

.google_button i{
  margin-right: 10px;
}

.separator{
  font-size: calc(10px + 2vmin);
  display:flex;
  align-items: center;
}

tr {
  padding: 15px;
}

th {
  padding: 15px;
}
.separator .line{
  height: 3px;
  flex: 1;
  background-color: #000;
}
.separator h2{
  padding: 0 2rem;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.about-team {
  padding: 50px;
  text-align: center;
  background-color: #474e5dd1;
  color: white;
}

.about-ul {
  list-style: none;
  padding: 0;
}
.about-li {
  padding: 5px 10px;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
  color: #000;
}